{% extends 'dj_back/base.html' %}
{% load staticfiles %}

{% block title %}
    Login
{% endblock %}

{% block baritem %}
    <div class="w3-bar-item"><p>Login</p></div>
{% endblock %}

{% block body %}
    {% if user.is_authenticated %}
        <div class="w3-panel w3-blue w3-card-4">
            <p>You're logged in, <a href="{% url 'submit_data' %}">send data</a>?</p>
        </div>
    {% else %}
        <div class="w3-container w3-quarter"></div>
        <div class="w3-card w3-half">
            <form method="post" class="w3-container w3-padding-16">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="w3-button w3-blue">Login</button>
                <a href="{% url 'signup' %}" class="w3-button w3-blue">Sign Up</a>
            </form>
            <div class="w3-container"></div>
        </div>
    {% endif %}
{% endblock %}
